{{#each videoGames as |videoGame|}}
<section class='video-game-section card col-lg-3' id="{{videoGame.id}}" data-id="{{videoGame.id}}">
    <div class='card-info-hover'>
        {{#if videoGame.isAvailable}}
        <span class='card-like available'>
        {{else}}
        <span class='card-like not-available'>
        {{/if}}
        {{!-- <i class="fa fa-circle" aria-hidden="true"></i> --}}
        {{!-- <figure class="circle"></figure> --}}
    </div>
    <div class="card-img"></div>
        <div class="card-img-hover" data-img="{{videoGame.id}}"></div>
    <div class='card-info'>
        <h6 class='card-category'>Title</h6>
        <h3 class='card-title'>
            {{videoGame.title}}
        </h3>
        <h6 class='card-by'>Platform</h6>
        <p class='card-platform'>
            {{videoGame.console}}
        </p>
    </div>
</section>

<script>
    $('[data-img="{{videoGame.id}}"]').css({'background-image': 'url({{videoGame.poster}})', 'object-fit': 'contain'})
</script>
{{/each}}