<section class='video-game-details'>
    <div class='card video-game-details-card'>
        <div class='detail-title-bar card-header' style="background-color: {{videoGame.consoleColor}}">
            <img src="public/images/icons/platform/{{videoGame.consoleFileName}}" alt="">
        </div>
        <div class='row no-gutters'>
            <div class='detail-img col-sm-5'>
                {{#if videoGame.hasPoster}}
                <img src="{{videoGame.poster}}" alt="..." class='card-img-top'>
                {{else}}
                <img src="https://www.greenmangaming.com/blog/wp-content/uploads/2017/08/cats-videogames.jpg" alt="..."
                    class='card-img-top'>
                {{/if}}
                <span class="detail-rating">
                    <img src="public/images/icons/ratings/{{videoGame.ESRBFileName}}" alt="">
                </span>
            </div>
            <div class='detail-info'>
                {{#if sameOwner}}
                {{else}}
                {{#if videoGame.isAvailable}}
                <button id='borrow-video-game' class="btn btn-success btn-sm" data-id="{{videoGame.id}}">Borrow</button>
                {{else}}
                <button id='borrow-video-game' class="btn btn-outline-warning btn-sm" disabled
                    data-id="{{videoGame.id}}">Already borrowed</button>
                {{/if}}
                {{/if}}
                <h3>{{videoGame.title}}</h3>
                <h6>{{videoGame.studio}}</h6>
                <p>{{videoGame.description}}</p>
            </div>
        </div>
        <div class='card-footer'>
            <button id='cancel-video-game' class="btn btn-outline-danger" data-id="{{videoGame.id}}">Back</button>
            <span class='detail-owner'>
                <span class='game-owner-name'>
                    {{#if videoGame.owner.hasFullName}}
                    {{videoGame.owner.fullName}}
                    {{else}}
                    {{videoGame.owner.userName}}
                    {{/if}}
                </span>
                {{#if sameOwner}}
                <button id='delete-video-game' class="btn btn-danger" data-id="{{videoGame.id}}">Delete Video
                    Game!</button>
                <button id='update-game-button' class="btn btn-info" data-id="{{videoGame.id}}">Update</button>
                {{/if}}
            </span>
        </div>
    </div>
</section>

<!-- Borrow modal -->
<div class="modal borrow-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request sent</h5>
                    <button type="button" class="close close-borrow-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <p id='borrow-message'>Request has been sent to {{#if videoGame.owner.hasFullName}}
                    {{videoGame.owner.fullName}}
                    {{else}}
                    {{videoGame.owner.userName}}
                    {{/if}} you can borrow {{videoGame.title}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class='close close-borrow-modal' data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>