{{#each videoGames as |videoGame|}}
{{log videoGame.id}}
<section class='video-game-section' data-id="{{videoGame.id}}">
    <h6>Title:</h6>
    <h3>
        {{limit videoGame.title 15}}
    </h3>
    <h6>Platform:</h6>
    <p>
        {{videoGame.console}}
    </p>
    <h6>Available:</h6>
    <p>
        {{#if videoGame.isAvailable}}
        green
        {{else}}
        red
        {{/if}}
    </p>
    {{!-- <button class="deleteBookButton btn btn-outline-danger" data-id="{{videoGame.id}}">Delete Book!</button> --}}
    {{!-- {{> partial}} --}}
</section>

{{/each}}